<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <link rel="stylesheet" href="/stylesheets/navbar.css">
  <link rel="stylesheet" href="/stylesheets/about.css">
  <title>About</title>
</head>

<body>
  <header>
    <a href="/">
      <div id="logo">Artroom</div>
    </a>
    <div id="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <nav id="navbar">
      <ul>
        <li>
          <a href="/" class="navbar-link">Home</a>
        </li>
        <li>
          <a href="/projects" class="navbar-link">Projects</a>
        </li>
        <li>
          <a href="/about" class="navbar-link active">About</a>
        </li>
        <li>
          <a href="/prices" class="navbar-link">Pricing</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>About</h1>

    <p class="about-artroom">ARTROOM is a leading interior design studio that specializes in creating elegant and
      functional living
      spaces.
      Our team of talented designers has a passion for art and a deep understanding of the latest trends in
      interior
      design, enabling us to deliver exceptional results that exceed our clients' expectations. <br><br>

      At ARTROOM, we understand that your home is your sanctuary. Our mission is to create a space that reflects
      your
      unique style, personality, and needs. We believe that every client is unique, and we work closely with them
      to
      understand their requirements and preferences to create a customized design plan that suits their lifestyle
      and
      budget. <br><br>

      We offer a wide range of interior design services, including space planning, color selection, lighting
      design,
      furniture selection, window treatments, and accessories. Whether you're looking for a complete home makeover
      or
      just need help with one room, our designers will work with you to create a space that is both beautiful and
      functional. <br><br>

      At ARTROOM, we use only the finest quality materials and work with skilled craftsmen to ensure that every
      detail
      is perfect. Our designers stay up-to-date with the latest trends in interior design to bring you the most
      innovative and stylish solutions for your home. <br><br>

      We believe that good design doesn't have to be expensive, and we work hard to offer our clients affordable
      solutions without compromising on quality. We are committed to delivering exceptional customer service and
      creating a seamless and stress-free design experience for our clients. <br><br>

      If you're looking for an interior design studio that can transform your home into a stunning work of art,
      look
      no further than ARTROOM. Contact us today to schedule a consultation and let us bring your dream home to
      life!</p>

  </main>

  <div class="container">

    <div class="card">
      <div 
        class="card-image" 
        style="background-image: url(/staticImages/Sergey_Davidovich.jpg)">
      </div>

      <div class="card-content">
        <h3 class="card-title">Sergey Davidovich</h3>
        <p class="card-description">Architect, designer, artist</p>
      </div>
    </div>

    <div class="card">
      <div 
        class="card-image" 
        style="background-image: url(/staticImages/Raman-Manis-scaled.jpg)">
      </div>

      <div class="card-content">
        <h3 class="card-title">Roman Manis</h3>
        <p class="card-description">Architect, designer</p>
      </div>
    </div>

    <div class="card">
      <div 
        class="card-image" 
        style="background-image: url(/staticImages/valentin.jpg)">
      </div>

      <div class="card-content">
        <h3 class="card-title">Valentin Ivashkov</h3>
        <p class="card-description">Architect</p>
      </div>
    </div>

    <div class="card">
      <div 
        class="card-image" 
        style="background-image: url(/staticImages/Yulia-Manis-scaled.jpg)">
      </div>

      <div class="card-content">
        <h3 class="card-title">Julia Manis</h3>
        <p class="card-description">Designer</p>
      </div>
    </div>

  </div>

  <footer>
    <div class="footer">
      <div class="contact-info">
        <h5>Contact Information:</h5>
        <p class="address">Mozartova 4912/10,<br> 811 02 Bratislava - Stare Mesto</p>
        <p class="email">Email: <a href="mailto:artroom.box@gmail.com">artroom.box@gmail.com</a></p>
        <p class="phone-number">Phone number: +421 949 227 794</p>
      </div>
      <div class="working-hours">
        <h5>Working Hours:</h5>
        <p>Monday-Friday - 10:00-18:00</p>
        <p>Saturday-Sunday - not working</p>
      </div>
    </div>
    
  </footer>
  <div class="copyright">
    <p> © ARTROOM Architectural Studio.
      All rights reserved.
      All visual materials on the website belong to the ARTROOM architectural studio.
      Copying of any materials by third parties without written permission is prohibited. </p>
  </div>

  <script src="/scripts/navbar.js"></script>
</body>

</html>