<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="icon" type="image/x-icon" href="/staticImages/favicon-32x32.png">
</head>
<body>
    <h1>Admin Panel</h1>
    <a href="/projects/new">New Project</a><br>
    <a href="/projects">All projects</a><br>
    <a href="/">Homepage</a><br>
    <a href="/logout">Logout</a>
</body>
</html>