<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-J6Q98G1DS5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-J6Q98G1DS5');
  </script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Panel</title>
  <link rel="icon" type="image/x-icon" href="/staticImages/favicon-32x32.png">
  <link rel="stylesheet" href="/stylesheets/admin.css">
</head>

<body>
  <h1>Панель администратора</h1>
  <a href="/projects/new">Добавить новый проект</a><br>
  <a href="/projects">Перейти на страницу всех проектов</a><br>
  <a href="/">Домашняя страница</a><br>
  <a href="/logout">Выйти (logout)</a>
</body>

</html>