<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/navbar.css">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <link rel="stylesheet" href="/stylesheets/contacts.css">
  <link rel="stylesheet" href="/stylesheets/animations.css">
  <link rel="icon" type="image/x-icon" href="/staticImages/favicon-32x32.png">
  <title>Artroom - Contact Us</title>
</head>

<body>
  <header>
    <a href="/">
      <div id="logo"><img src="/staticImages/logo.png" alt="artroom logo" class="artroom-logo"></div>
    </a>
    <div id="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <nav id="navbar">
      <ul>
        <li>
          <a href="/" class="navbar-link">Home</a>
        </li>
        <li>
          <a href="/projects" class="navbar-link">Projects</a>
        </li>
        <li>
          <a href="/about" class="navbar-link">About</a>
        </li>
        <li>
          <a href="/prices" class="navbar-link">Pricing</a>
        </li>
        <li>
          <a href="/contacts" class="navbar-link active">Contacts</a>
        </li>
        <li>
          <select name="language" id="language" class="language-select">
            <option value="sk">Slovenčina</option>
            <option value="en" selected>English</option>
          </select>
        </li>
      </ul>
    </nav>
  </header>


  <h1 id="contact-header">Contact Us</h1>

  <div id="working-info">
    <p>We are working from</p>
    <p>Monday-Friday</p>
    <p>Meetings only on arrangments</p>
  </div>

  <div id="contact-ways">
    <div class="contact-way">
      <img src="/staticImages/phone.svg" alt="" width="50px" height="50px">
      <h3>Phone number</h3>
      <p>+421 949 227 794</p>
    </div>
    <div class="contact-way">
      <img src="/staticImages/mapMarker.svg" alt="" width="50px" height="50px">
      <h3>Our Location</h3>
      <p>Mozartova 4192/10 811 02</p>
      <p>Bratislava-Stare Mesto</p>
    </div>
    <div class="contact-way">
      <img src="/staticImages/Whatsapp.svg" alt="" width="50px" height="50px">
      <h3>Whatsapp</h3>
      <p>+421 949 227 794</p>
    </div>
    <div class="contact-way">
      <img src="/staticImages/email.svg" alt="" width="50px" height="50px">
      <h3>Email</h3>
      <p>artroom.box@gmail.com</p>
    </div>
  </div>


  <h1 id="s-networks-header">Our social networks</h1>

  <div id="s-networks" class="hidden">
    <div class="s-network">
      <a href="https://www.instagram.com/artroom.sk/"><img src="/staticImages/insta-logo.svg" alt="artroom-instagram" width="60px" height="60px"></a>
      <p>Instagram</p>
    </div>
    <div class="s-network">
      <a href="https://www.facebook.com/artroom.by"><img src="/staticImages/facebook-logo.svg" alt="artroom-facebook" width="60px" height="60px"></a>
      <p>Facebook</p>
    </div>
  </div>

  <footer>
    <div class="footer">
      <div class="contact-info">
        <h5>Contact Information:</h5>
        <p class="address">Mozartova 4912/10,<br> 811 02 Bratislava - Stare Mesto</p>
        <p class="email">Email: <a href="mailto:artroom.box@gmail.com">artroom.box@gmail.com</a></p>
        <p class="phone-number">Phone number: +421 949 227 794</p>
      </div>
      <div class="working-hours">
        <h5>Working Hours:</h5>
        <p>Monday-Friday - 10:00-18:00</p>
        <p>Saturday-Sunday - not working</p>
        <a href="https://www.facebook.com/artroom.by"><img src="/staticImages/facebook-logo.svg" alt="artroom-facebook" width="20px" height="20px" class="social-button"></a>
        <a href="https://www.instagram.com/artroom.sk/"><img src="/staticImages/insta-logo.svg" alt="artroom-instagram" width="20px" height="20px" class="social-button"></a>
      </div>
    </div>
  </footer>
  
  <div class="copyright">
    <p> © ARTROOM Architectural Studio.
      All rights reserved.
      All visual materials on the website belong to the ARTROOM architectural studio.
      Copying of any materials by third parties without written permission is prohibited. </p>
  </div>

  <script src="/scripts/language.js"></script>
  <script src="/scripts/navbar-transparent.js"></script>
  <script src="/scripts/navbar.js"></script>
  <script src="/scripts/animations.js"></script>


</body>

</html>