<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-J6Q98G1DS5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-J6Q98G1DS5');
  </script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/navbar.css">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <link rel="stylesheet" href="/stylesheets/error.css">
  <link rel="stylesheet" href="/stylesheets/animations.css">
  <link rel="icon" type="image/x-icon" href="/staticImages/favicon-32x32.png">
  <title>Artroom Design Studio - Error 404</title>
</head>

<body>
  <header>
    <a href="/">
      <div id="logo"><img src="/staticImages/logo.png" alt="artroom logo" class="artroom-logo"></div>
    </a>
    <div id="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <nav id="navbar">
      <ul>
        <li>
          <a href="/" class="navbar-link">Home</a>
        </li>
        <li>
          <a href="/projects" class="navbar-link">Projects</a>
        </li>
        <li>
          <a href="/about" class="navbar-link">About</a>
        </li>
        <li>
          <a href="/prices" class="navbar-link">Pricing</a>
        </li>
        <li>
          <a href="/contacts" class="navbar-link">Contacts</a>
        </li>
        <li>
          <select name="language" id="language" class="language-select">
            <option value="sk">Slovenčina</option>
            <option value="en" selected>English</option>
          </select>
        </li>
      </ul>
    </nav>
  </header>

  <div id="error-msg">
    <h1>Page Not Found!</h1>
    <a href="/">Back to the website</a>
  </div>

  <footer>
    <div class="footer">
      <div class="contact-info">
        <h3>Contact Information:</h3>
        <p class="address">Mozartova 4912/10,<br> 811 02 Bratislava - Stare Mesto</p>
        <p class="email">Email: <a href="mailto:artroom.box@gmail.com">artroom.box@gmail.com</a></p>
        <p class="phone-number">Phone number: +421 949 227 794</p>
      </div>
      <div class="working-hours">
        <h3>Working Hours:</h3>
        <p>Monday-Friday - 10:00-18:00</p>
        <p>Saturday-Sunday - not working</p>
        <a href="https://www.facebook.com/artroom.by"><img src="/staticImages/facebook-logo.svg" alt="artroom-facebook" width="20px" height="20px" class="social-button"></a>
        <a href="https://www.instagram.com/artroom.sk/"><img src="/staticImages/insta-logo.svg" alt="artroom-instagram" width="20px" height="20px" class="social-button"></a>
      </div>
    </div>
  </footer>


  <script src="/scripts/language.js"></script>
  <script src="/scripts/navbar-transparent.js"></script>
  <script src="/scripts/navbar.js"></script>
  <script src="/scripts/animations.js"></script>



</body>

</html>