<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/navbar.css">
	<link rel="stylesheet" href="/stylesheets/footer.css">
	<link rel="stylesheet" href="/stylesheets/homepage.css">
	<title>Index Page</title>
</head>

<body>
<header>
	<div id="logo">Artroom</div>
	<div id="hamburger">
		<div class="line"></div>
		<div class="line"></div>
		<div class="line"></div>
	</div>
	<nav id="navbar">
		<ul>
			<li>
				<a href="/" class="navbar-link active">Home</a>
			</li>
			<li>
				<a href="/projects" class="navbar-link">Projects</a>
			</li>
			<li>
				<a href="/about" class="navbar-link">About</a>
			</li>
		</ul>
	</nav>
</header>


<div id="welcome-banner">
	<h1>Welcome to Artroom!</h1>
	<p>The team of experienced designers and architects.</p>
</div>

<div id="gen-banner">
	<img src="/staticImages/Furniture-1-1.jpg" alt="Furniture image">
	<div id="g-banner-text">
		<h1>Interior, exterior design and 3d visualization in EU</h1>
		<p>ARTROOM is a team of professionals. We design flats, cottages, restaurants, bars, offices, shops, and other residential and public premises.</p>
		<p>We also develop individual projects for low-rise private residential buildings and perform architectural 3D visualisation.</p>
		<p>We have a huge number of successfully completed projects and many years of experience in this field. The specialists in our studio will prepare for you detailed technical documentation of the highest quality, so you can fully implement the object.</p>
	</div>
</div>

<footer>
	<p>&copy; 2023 Artroom</p>
</footer>


<script src="/scripts/navbar.js"></script>
</body>

</html>