<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Explore our pricing options for architectural design services at ARTROOM.">
  <title>Artroom - Pricing</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <link rel="stylesheet" href="/stylesheets/navbar.css">
  <link rel="stylesheet" href="/stylesheets/prices.css">
  <link rel="icon" type="image/x-icon" href="/staticImages/favicon-32x32.png">
</head>

<body>
  <header>
    <a href="/">
      <div id="logo"><img src="/staticImages/logo.png" alt="artroom logo" class="artroom-logo"></div>
    </a>
    <div id="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <nav id="navbar">
      <ul>
        <li>
          <a href="/" class="navbar-link">Home</a>
        </li>
        <li>
          <a href="/projects" class="navbar-link">Projects</a>
        </li>
        <li>
          <a href="/about" class="navbar-link">About</a>
        </li>
        <li>
          <a href="/prices" class="navbar-link active">Pricing</a>
        </li>
        <li>
          <a href="/contacts" class="navbar-link">Contacts</a>
        </li>
        <li>
          <select name="language" id="language" class="language-select">
            <option value="sk">Slovenčina</option>
            <option value="en" selected>English</option>
          </select>
        </li>
      </ul>
    </nav>
  </header>

  <div class="prices">

    <div class="price">

      <div class="image">
        <img src="/staticImages/tier1.jpg" alt="Basic tier image" class="price-cover">
      </div>

      <h2>Basic</h2>
      <p>€17/m2</p>
      <ul>
        <li>3D visualization</li>
        <li>Plan layout</li>
      </ul>
      <a href="/contacts"><button>More Details</button></a>
    </div>

    <div class="price">

      <div class="image">
        <img src="/staticImages/tier2.jpg" alt="Advanced tier image" class="price-cover">
      </div>

      <h2>Advanced</h2>
      <p>€30/m2</p>
      <ul>
        <li>3D visualisation</li>
        <li>Measurement drawings</li>
        <li>Plan layout</li>
        <li>All technical aspects illustrated</li>
      </ul>
      <a href="/contacts"><button>More Details</button></a>
    </div>

    <div class="price">

      <div class="image">
        <img src="/staticImages/tier3.jpg" alt="Premium tier image" class="price-cover">
      </div>

      <h2>Premium</h2>
      <p>€50/m2</p>
      <ul>
        <li>3D visualisation</li>
        <li>Measurement drawings</li>
        <li>Plan layout</li>
        <li>All technical aspects illustrated</li>
        <li>Elements and materials specified</li>
      </ul>
      <a href="/contacts"><button>More Details</button></a>
    </div>

  </div>

  <div class="fixed-footer">
    <footer>
      <div class="footer">
        <div class="contact-info">
          <h5>Contact Information:</h5>
          <p class="address">Mozartova 4912/10,<br> 811 02 Bratislava - Stare Mesto</p>
          <p class="email">Email: <a href="mailto:artroom.box@gmail.com">artroom.box@gmail.com</a></p>
          <p class="phone-number">Phone number: +421 949 227 794</p>
        </div>
        <div class="working-hours">
          <h5>Working Hours:</h5>
          <p>Monday-Friday - 10:00-18:00</p>
          <p>Saturday-Sunday - not working</p>
        </div>
      </div>
    </footer>

    <div class="copyright">
      <p> © ARTROOM Architectural Studio.
        All rights reserved.
        All visual materials on the website belong to the ARTROOM architectural studio.
        Copying of any materials by third parties without written permission is prohibited. </p>
    </div>
  </div>


  <script src="/scripts/language.js"></script>
  <script src="/scripts/navbar.js"></script>
</body>

</html>