<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prices</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <link rel="stylesheet" href="/stylesheets/navbar.css">
  <link rel="stylesheet" href="/stylesheets/prices.css">
</head>

<body>
  <header>
    <a href="/">
      <div id="logo">Artroom</div>
    </a>
    <div id="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <nav id="navbar">
      <ul>
        <li>
          <a href="/" class="navbar-link">Home</a>
        </li>
        <li>
          <a href="/projects" class="navbar-link">Projects</a>
        </li>
        <li>
          <a href="/about" class="navbar-link">About</a>
        </li>
        <li>
          <a href="/prices" class="navbar-link active">Prices</a>
        </li>
      </ul>
    </nav>
  </header>

  <div class="prices">
    
    <div class="price">
      
      <div class="image">
        <img src="/uploads/1677524680010.jpg" alt="">
      </div>
    
      <h2>Plan A</h2>
      <p>$10/month</p>
      <ul>
        <li>Feature 1</li>
        <li>Feature 2</li>
        <li>Feature 3</li>
      </ul>
      <button>Buy now</button>
    </div>

    <div class="price">

      <div class="image">
        <img src="/uploads/1677524658025.jpg" alt="">
      </div>

      <h2>Plan B</h2>
      <p>$20/month</p>
      <ul>
        <li>Feature 1</li>
        <li>Feature 2</li>
        <li>Feature 3</li>
        <li>Feature 4</li>
      </ul>
      <button>Buy now</button>
    </div>

    <div class="price">

      <div class="image">
        <img src="/uploads/1677524521675.jpg" alt="">
      </div>

      <h2>Plan C</h2>
      <p>$30/month</p>
      <ul>
        <li>Feature 1</li>
        <li>Feature 2</li>
        <li>Feature 3</li>
        <li>Feature 4</li>
        <li>Feature 5</li>
      </ul>
      <button>Buy now</button>
    </div>
  </div>

  <footer>
    <p>Copyright © 2023 Artroom.
  </footer>

  <script src="/scripts/navbar.js"></script>
</body>

</html>