@keyframes showBanner {
    0% {
        opacity: 0%;
        transform: translateY(-60%);
    }

    100% {
        opacity: 100%;
        transform: translateY(0%);
    }
}

header {
    position: fixed;
}

#welcome-banner {
    display: flex;
    border-bottom: 2px solid black;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("/staticImages/jason-wong-qn1aw4FOM9g-unsplash.jpg");
    background-size: cover;
}

#welcome-banner h1 {
    animation: 1s ease-out 0s 1 showBanner;

    text-align: center;
    text-shadow: 0px 1px 7px #000000;
    font-size: 50px;
    margin-bottom: 20px;
}

#welcome-banner p {
    animation: 1s ease-out 0s 1 showBanner;
    text-align: center;
    text-shadow: 0px 1px 7px #000000;
    font-size: 20px;
}


#gen-banner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid black;
    width: 100%;
    padding: 100px 0 100px 0;
}

#gen-banner img {
    width: 500px;
    height: 500px;
}

#g-banner-text {
    display: flex;
    flex-direction: column;
    width: 35%;
}

#g-banner-text h1 {
    margin-bottom: 40px;
    font-size: 35px;
}

#g-banner-text p {
    font-size: 15px;
    margin-bottom: 20px;
}


#advantages-header {
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
}

#advantages-grid {
    display: flex;
    padding: 100px 0 100px 0;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 2px solid black;
}

.advantages-item {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 50px 50px;
}

.advantages-item img {
    margin-bottom: 60px;
}

.advantages-item h2 {
    font-size: 19px;
    margin-bottom: 20px;
}

.advantages-item p {
    font-size: 15px;
}


#works-header {
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
}

#works-showbanner {
    padding: 50px 0 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.works-project {
    position: relative;
    margin: 0px 20px;
}

.works-project img {
    object-fit: cover;
    width: 30vw;
    height: 600px;
}

.works-project:hover>.works-name {
    opacity: 100%;
}

.works-project:hover {
    cursor: pointer;
}

.works-name {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #22222e;
    position: absolute;
    bottom: 3px;
    width: 30vw;
    height: 80px;
    opacity: 0;
    transition: 0.5s;
}

.works-name h3 {
    text-align: center;
    color: white;
}

#contacts-link h2 {
    text-align: center;
    font-size: 35px;
}

#contacts-link {
    margin-bottom: 50px;
}

#contacts-link a {
    display: block;
    text-align: center;
    background-color: #22222e;
    color: white;
    padding: 25px;
    width: 200px;
    margin: 35px auto;
    border-radius: 50px;
    transition: 0.7s;
}

#contacts-link a:hover {
    width: 250px;
    background-color: #5c5b5b;
}


@media (max-width: 1100px) {
    #gen-banner img {
        width: 370px;
        height: 370px;
    }

    #works-showbanner {
        flex-direction: column;
    }

    .works-name {
        width: 90vw;
    }

    .works-project img {
        width: 90vw;
    }

    .works-project {
        margin-bottom: 30px;
    }
}

@media (max-width: 950px) {
    #gen-banner img {
        width: 420px;
        height: 420px;
    }

    #gen-banner {
        height: 70rem;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #g-banner-text {
        width: 80%;
    }
}

@media (max-width: 700px) {
    #g-banner-text h1 {
        font-size: 30px;
    }
}

@media (max-width: 650px) {
    #welcome-banner h1 {
        font-size: 30px;
    }

    #welcome-banner p {
        font-size: 15px;
    }

    #gen-banner img {
        width: 350px;
        height: 350px;
    }

    #gen-banner {
        padding: 0px 0 0px 0;
    }
}