@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.prices {
    animation: 1s ease-out 0s 1 fadeIn;
    max-width: 1300px;
    margin: 80px auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.price-cover {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: .3s;
}

.price {
    width: 800px;
    height: 540px;
    background-color: #ececec;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.price h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 20px;
    transition: .3s;
}

.price p {
    font-size: 18px;
    font-weight: 500;
    color: #777;
    margin-bottom: 20px;
    transition: .3s;
}

.price ul {
    list-style: none;
    margin-bottom: 20px;
}

.price ul li {
    margin: 10px 0;
    font-size: 16px;
    color: #444;
    transition: .3s;
}

.price button {
    width: 200px;
    background-color: #22222e;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.price button:hover {
    background-color: #444;
}

.price:before {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    z-index: -1;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transform: scale(0.98);
    transition: all 0.3s ease-in-out;
}

.price:hover:before {
    transform: scale(1.001);
}

.price:hover .price-cover {
    transform: scale(1.02);
}

.price:hover h2 {
    font-size: 30px;
}

.price:hover button {
    width: 70%;
}

.active {
    z-index: 2;
}

#navbar {
    z-index: 2;
}

@media only screen and (min-width: 1921px) {
    .prices {
        margin: 100px auto;
        max-width: 1600px;
    }

    .price h2 {
        font-size: 30px;
    }

    .price ul li {
        font-size: 16px;
    }

    .price {
        height: 600px;
    }

    .fixed-footer {
        position: absolute;
        width: 100%;
        bottom: 0;
    }
}

@media only screen and (max-width: 1000px) {
    .price {
        width: 70%;
    }
    .prices {
        flex-direction: column;
        align-items: center;
    }
    .price:hover button {
        width: 50%;
    }
}
@media (max-width: 400px) {
    .price ul li {
        font-size: 14px;
    }
}