.projectName {
    text-align: center;
    margin-bottom: 35px;
}

#projectName {
    font-size: 3rem;
}

.projectDescription {
    text-align: center;
    margin-top: 20px;
    width: 1280px;
    margin-bottom: 12px;
}

#projectDescription {
    font-size: 1.09rem;
}

.picture img {
    margin: 10px;
    display: block;
    width: 100%;
    height: auto;
    max-width: 1280px;
    max-height: 720px;
    object-fit: contain;
}

button[type="submit"] {
    cursor: pointer;
}

.edit-link,
.delete-button {
    font-size: 1.2rem;
    display: inline-block;
    padding: 10px;
    background-color: #dedede;
    color: #000000;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin: 10px;
    transition: 0.3s;
}

.edit-link:hover,
.delete-button:hover {
    background-color: #f2f2f2;
}

.edit-link {
    margin-right: 10px;
}

.delete-button {
    margin-left: 10px;
}

.delete-form {
    display: inline-block;
}

.pictures-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.picture img {
    object-fit: cover;
    width: 640px;
    height: 360px;
}

footer {
    text-align: center;
    background-color: #22222e;
    color: #fff;
    padding: 20px;
    margin-top: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.content-container {
    min-height: calc(100vh - 80px);
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

header {
    position: fixed;
}

.navhead {
    height: 50px;
    margin-bottom: 20px;
}

.artroom-logo {
    width: 195px;
    height: 31px;
    margin: 0;
    display: flex;
}

pre {
    white-space: pre-line;
}

.admin-buttons {
    display: flex;
    justify-content: center;
}

/* @media (max-width: 1715px) {
    .picture img {
        width: 320px;
        height: 180px;
    }
} */

@media (max-width: 1280px) {
    #projectName {
        font-size: 35px;
    }

    .projectDescription {
        width: 75%;
    }
}

@media (max-width: 720px) {

    a.edit-link,
    button.delete-button {
        font-size: 60%
    }

    .projectDescription {
        width: 85%;
    }

    #projectName {
        font-size: 32px;
    }

    #projectDescription {
        font-size: 18px;
    }

    .picture img {
        margin: 10px;
        width: 80vw;
        height: 300px;
    }
}

@media (max-width: 480px) {
    #edit-delete-buttons {
        display: none;
    }

    .projectDescription {
        width: 85%;
    }

    #projectDescription {
        font-size: 14px;
    }

    #projectName {
        font-size: 30px;
    }

    .picture img {
        margin: 10px;
        width: 80vw;
        height: 200px;
    }
}