.projectName {
    text-align: center;
    margin-top: 50px;
}

#projectName {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.projectDescription {
    text-align: center;
    margin-top: 20px;
    width: 50%;
    margin-bottom: 12px;
}

#projectDescription {
    font-size: 1.5rem;
}

img {
    display: block;
    margin: 60px auto;
    width: 100%;
    height: auto;
    max-width: 1280px;
    max-height: 720px;
    object-fit: contain;
}

button[type="submit"] {
    cursor: pointer;
}

.edit-link,
.delete-button {
    font-size: 1.2rem;
    display: inline-block;
    padding: 10px;
    background-color: #22222e;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin: 10px;
}

.edit-link {
    margin-right: 10px;
}

.delete-button {
    margin-left: 10px;
}

.delete-form {
    display: inline-block;
}

.pictures-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.picture img {
    margin: 20px;
    object-fit: cover;
    width: 46vw;
    height: 700px;
}

footer {
    text-align: center;
    background-color: #22222e;
    color: #fff;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.content-container {
    min-height: calc(100vh - 80px);
    box-sizing: border-box;
    padding: 20px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

header {
    position: fixed;
}

@media (max-width: 1715px) {
    .picture img {
        width: 1200px;
        height: auto;
    }
}

@media (max-width: 1280px) {
    #projectName {
        font-size: 35px;
    }
    .projectDescription {
        width: 75%;
    }
    .picture img {
        margin: 10px;
        width: 90vw;
        height: 250px;
    }
}
@media (max-width: 850px) {
    .picture img {
        margin: 10px;
        width: 90vw;
        height: 250px;
    }
}

@media (max-width: 720px) {
    a.edit-link,
    button.delete-button {
        font-size: 60%
    }
    .projectDescription {
        width: 85%;
    }
    #projectName {
        font-size: 32px;
    }
    #projectDescription {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    #edit-delete-buttons {
        display: none;
    }
    .projectDescription {
        width: 85%;
    }
    #projectDescription {
        font-size: 14px;
    }
    #projectName {
        font-size: 30px;
    }
}