<!DOCTYPE html>
<html lang="sk">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/navbar.css">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <link rel="stylesheet" href="/stylesheets/contacts.css">
  <link rel="stylesheet" href="/stylesheets/animations.css">
  <title>Artroom</title>
</head>

<body>
  <header>
    <a href="/">
      <div id="logo">Artroom</div>
    </a>
    <div id="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <nav id="navbar">
      <ul>
        <li>
          <a href="/sk" class="navbar-link">Domov</a>
        </li>
        <li>
          <a href="/sk/projects" class="navbar-link">Projekty</a>
        </li>
        <li>
          <a href="/sk/about" class="navbar-link">O nás</a>
        </li>
        <li>
          <a href="/sk/prices" class="navbar-link">Ceny</a>
        </li>
        <li>
          <a href="/sk/contacts" class="navbar-link active">Kontakt</a>
        </li>
      </ul>
    </nav>
    <select name="language" id="language">
      <option value="sk" selected>Slovenčina</option>
      <option value="en">English</option>
    </select>
  </header>


  <h1 id="contact-header">Kontaktujte nás</h1>

  <div id="working-info">
    <p>Pracujeme od pondelka do piatka</p>
    <p>Schôdzky iba po dohode</p>
  </div>

  <div id="contact-ways">
    <div class="contact-way">
      <img src="/staticImages/phone.svg" alt="" width="50px" height="50px">
      <h3>Telefónne číslo</h3>
      <p>+421 949 227 794</p>
    </div>
    <div class="contact-way">
      <img src="/staticImages/mapMarker.svg" alt="" width="50px" height="50px">
      <h3>Náša adresa</h3>
      <p>Mozartova 4192/10, 811 02 Bratislava-Staré Mesto</p>
    </div>
    <div class="contact-way">
      <img src="/staticImages/Whatsapp.svg" alt="" width="50px" height="50px">
      <h3>Whatsapp</h3>
      <p>+421 949 227 794</p>
    </div>
    <div class="contact-way">
      <img src="/staticImages/email.svg" alt="" width="50px" height="50px">
      <h3>Email</h3>
      <p>artroom.box@gmail.com</p>
    </div>
  </div>


  <h1 id="s-networks-header">Naše sociálne siete</h1>

  <div id="s-networks" class="hidden">
    <div class="s-network">
      <a href="https://www.instagram.com/artroom.sk/"><img src="/staticImages/insta-logo.svg" alt="" width="60px" height="60px"></a>
      <p>Instagram</p>
    </div>
    <div class="s-network">
      <a href="https://www.facebook.com/artroom.by"><img src="/staticImages/facebook-logo.svg" alt="" width="60px" height="60px"></a>
      <p>Facebook</p>
    </div>
  </div>

  <footer>
    <div class="footer">
      <div class="contact-info">
        <h5>Kontaktné informácie:</h5>
        <p class="address">Mozartova 4912/10,<br> 811 02 Bratislava - Stare Mesto</p>
        <p class="email">Email: <a href="mailto:artroom.box@gmail.com">artroom.box@gmail.com</a></p>
        <p class="phone-number">Telefónne číslo: +421 949 227 794</p>
      </div>
      <div class="working-hours">
        <h5>Pracovné hodiny:</h5>
        <p>Pondelok-Piatok - 10:00-18:00</p>
        <p>Sobota-Nedeľa - nepracujeme</p>
      </div>
    </div>
  </footer>

  <div class="copyright">
    <p> © ARTROOM Architektonické štúdio.
      Všetky práva vyhradené.
      Všetky vizuálne materiály na webovej stránke patria architektonickému štúdiu ARTROOM.
      Kopírovanie akýchkoľvek materiálov tretími stranami bez písomného povolenia je zakázané. </p>
  </div>


  <script src="/scripts/language.js"></script>
  <script src="/scripts/navbar-transparent.js"></script>
  <script src="/scripts/navbar.js"></script>
  <script src="/scripts/animations.js"></script>


</body>

</html>