<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artroom</title>
</head>
<body>
    <a href="/projects/new">Create a new project</a>
    <% for(let project of projects) { %>
        <div>
            <p> <%= project.name %> </p>
            <p> <%= project.description %> </p>
            <a href="/projects/<%= project._id %>">View project</a>
        </div>
    <% } %>
</body>
</html>