<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Artroom - Create a New Project</title>
  <link rel="stylesheet" href="/stylesheets/form.css">
  <link rel="icon" type="image/x-icon" href="/staticImages/favicon-32x32.png">
</head>

<body>
  <h1>Create a Project</h1>
  <form action="/projects" method="POST" enctype="multipart/form-data">
    <div>
      <label for="projectName">Project Name</label>
      <input type="text" name="project[name]" id="projectName" required>
    </div>
    <div>
      <label for="projectDescription">Description</label>
      <textarea name="project[description]" id="projectDescription" cols="30" rows="10" required></textarea>
    </div>
    <div>
      <label for="projectSlovakDescription">Slovak Description</label>
      <textarea name="project[slovakDescription]" id="projectSlovakDescription" cols="30" rows="10"></textarea>
    </div>
    <div>
      <label for="projectShortDescription">Short Description</label>
      <textarea name="project[shortDescription]" id="projectShortDescription" cols="30" rows="5"></textarea>
    </div>
    <div>
      <label for="projectShortSlovakDescription">Short Slovak Description</label>
      <textarea name="project[shortSkDescription]" id="projectShortSlovakDescription" cols="30" rows="5"></textarea>
    </div>
    <div>
      <label for="projectType">Type</label>
      <select name="project[type]" id="projectType" required>
        <option value="Visualisation">Visualisation</option>
        <option value="Architecture">Architecture</option>
        <option value="Design">Design</option>
      </select>
    </div>
    <div>
      <label for="projectImage">Image(s)</label>
      <input type="file" name="images" id="projectImage" multiple>
    </div>
    <button>Submit</button>
  </form>
</body>

</html>